html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,pre,　dl,dt,dd,ol,ul,li,table,tbody,tfoot,thead,tr,th,td,a,canvas {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}

#items {
    display: flex;
    #canvs{
        width: "512px";
        height: "512px";
    }
    #picker{
        
        flex:1 1 auto;
        margin:0 0 0 10px;
    }
}
#color_sliders {
    .slider{
        max-width: 512px;
        box-sizing: border-box;
        display: flex;
        margin-top: 30px;
    }
    .label {
        width: 100px;
    }
    .range {
        width: 100px;
        flex: 1;
    }
    .text {
        width: 100px;
    }
}